.editor-block {
    width: 80%;
    min-height: 30px;
    margin: 0 auto;
    margin-top: 20px;
}

.editor-tools {
    width: 100%;
    height: 30px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.editor-standard-theme {
    border-radius: 6px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1)
}

.editor-standard-theme-color {
    color: #1e1e1e;
    cursor: pointer;
}

.fa {
    margin-left: 10px;
    
}